<!DOCTYPE html>
<html class="discountdeck">
  <head>
    <title>Discount Deck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="Discount Deck" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.discountdeck.com/" />
    <meta property="og:image" content="https://res.cloudinary.com/dzixj0ktk/image/upload/b_rgb:ffffff/v1574015369/logo-with-text-transparent_ijfhxb.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- WEB FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,600,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
  </head>

  <body data-turbolinks="false" data-spy="scroll" data-target=".fixed-top">
    <%= yield %>
  </body>
</html>
