<!DOCTYPE html>
<html>
  <head>
    <title>Discount Deck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- WEB FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700|Montserrat:600,700' rel='stylesheet' type='text/css'>
  </head>

  <body data-turbolinks="false">
    <%= yield %>
  </body>
</html>
