<!DOCTYPE html>
<html class="discountdeck">
  <head>
    <title>How I solved: what came first the chicken or the egg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T9KRMY5F1C"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-T9KRMY5F1C');
    </script>

    <meta property="og:title" content="How I solved: what came first the chicken or the egg" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.discountdeck.com/a-case-for-investment-in-discount-deck" />
    <meta property="og:image" content="https://res.cloudinary.com/dzixj0ktk/image/upload/v1590461570/Screen_Shot_2020-05-25_at_9.52.20_PM_aympts.png" />
    <meta name="description" content="For any startup, the chicken or the egg problem is a supply and demand question. What comes first, the supply or the demand? Here's how I solved this problem using audience intelligence data and developed a long-term go-to-market strategy for our mobile app.">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- WEB FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,600,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
  </head>

  <body data-turbolinks="false" data-spy="scroll" data-target=".fixed-top">
    <%= yield %>
  </body>
</html>
